@import '../../scss/themes/_colors';

.capture-plus-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;

  .capture-plus-widget {
    padding: 10px 20px 10px 20px;
    border: 1px solid #d7d7d7;
    margin: 0px;
    border-radius: 25px;
    outline: none;
  }

  .capture-plus-list-results {
    border: 1px solid #d7d7d7;
  }
}
